:root {
  --primary-color: #f3e5f5;
  --secundary-color: #f8bbd0a1;
  --terciary-color: #f8bbd0;
  --accent-color: #880e4f;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  color: var(--accent-color);
}

li {
  padding-left: 2rem;
}

li:hover {
  font-weight: bolder;
  font-size: medium;
  padding-left: 1.75rem;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
